In [1]:
####################################################################
### Determining Granger Causal Flow for S&P 500 - Andras Horvath ###
###                 Data collection 2021-2023                    ###
####################################################################

# Here, I collect all stock ticker data for S&P 500 individual stocks. 
# This will then be saved as a csv file and opened in R for analysis.
# The following link was instrumental in helping me understand how to
# do this in Python:
# https://www.youtube.com/watch?v=Zt2PuC7iXEU
# pip install yfinance

In [1]:
import pandas as pd
import yfinance as yf

In [2]:
sp500url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
data_table = pd.read_html(sp500url)
# This will get us the stocks which make up the S&P 500 as of the present date. The current date that this was done for is 3/31/2024.

In [3]:
data_table

[    Symbol            Security             GICS Sector  \
 0      MMM                  3M             Industrials
 1      AOS         A. O. Smith             Industrials
 2      ABT              Abbott             Health Care
 3     ABBV              AbbVie             Health Care
 4      ACN           Accenture  Information Technology
 ..     ...                 ...                     ...
 498    XYL          Xylem Inc.             Industrials
 499    YUM         Yum! Brands  Consumer Discretionary
 500   ZBRA  Zebra Technologies  Information Technology
 501    ZBH       Zimmer Biomet             Health Care
 502    ZTS              Zoetis             Health Care

                                 GICS Sub-Industry    Headquarters Location  \
 0                        Industrial Conglomerates    Saint Paul, Minnesota
 1                               Building Products     Milwaukee, Wisconsin
 2                           Health Care Equipment  North Chicago, Illinois
 3                                   Biotechnology  North Chicago, Illinois
 4                  IT Consulting & Other Services          Dublin, Ireland
 ..                                            ...                      ...
 498  Industrial Machinery & Supplies & Components   White Plains, New York
 499                                   Restaurants     Louisville, Kentucky
 500            Electronic Equipment & Instruments   Lincolnshire, Illinois
 501                         Health Care Equipment          Warsaw, Indiana
 502                               Pharmaceuticals   Parsippany, New Jersey

      Date added      CIK      Founded
 0    1957-03-04    66740         1902
 1    2017-07-26    91142         1916
 2    1957-03-04     1800         1888
 3    2012-12-31  1551152  2013 (1888)
 4    2011-07-06  1467373         1989
 ..          ...      ...          ...
 498  2011-11-01  1524472         2011
 499  1997-10-06  1041061         1997
 500  2019-12-23   877212         1969
 501  2001-08-07  1136869         1927
 502  2013-06-21  1555280         1952

 [503 rows x 8 columns],
                   Date  Added                                Removed  \
                   Date Ticker                       Security  Ticker
 0       March 27, 2024   SOLV                Solventum Corp.     VFC
 1       March 27, 2024    NaN                     GE Vernova    XRAY
 2       March 18, 2024   SMCI                     Supermicro     WHR
 3       March 18, 2024   DECK                 Deckers Brands    ZION
 4    December 18, 2023   UBER                           Uber     SEE
 ..                 ...    ...                            ...     ...
 337       June 9, 1999    WLP                      Wellpoint     HPH
 338  December 11, 1998    FSR                        Firstar     LDW
 339  December 11, 1998    CCL                 Carnival Corp.     GRN
 340  December 11, 1998   CPWR                      Compuware     SUN
 341      June 17, 1997    CCI  Countrywide Credit Industries     USL

                                                                       Reason
                      Security                                         Reason
 0                  V.F. Corp.               Market capitalization change.[4]
 1        Dentsply Sirona Inc.               Market capitalization change.[4]
 2       Whirlpool Corporation               Market capitalization change.[5]
 3        Zions Bancorporation               Market capitalization change.[5]
 4                  Sealed Air               Market capitalization change.[6]
 ..                        ...                                            ...
 337  Harnischfeger Industries       Harnischfeger filed for bankruptcy.[254]
 338                     Amoco                       BP purchased Amoco.[255]
 339                General Re  Berkshire Hathaway purchased General Re.[255]
 340                SunAmerica                 AIG purchased SunAmerica.[255]
 341                    USLife                      AIG acquired USLife.[256]

 [342 rows x 6 columns]]

In [4]:
len(data_table) # There are two tables. We want the first one.

2

In [5]:
data_table[0] # We just need the Symbol to extract Tickers.

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,1524472,2011
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [6]:
tickers = data_table[0]['Symbol'].tolist()

In [7]:
tickers

['MMM',
 'AOS',
 'ABT',
 'ABBV',
 'ACN',
 'ADBE',
 'AMD',
 'AES',
 'AFL',
 'A',
 'APD',
 'ABNB',
 'AKAM',
 'ALB',
 'ARE',
 'ALGN',
 'ALLE',
 'LNT',
 'ALL',
 'GOOGL',
 'GOOG',
 'MO',
 'AMZN',
 'AMCR',
 'AEE',
 'AAL',
 'AEP',
 'AXP',
 'AIG',
 'AMT',
 'AWK',
 'AMP',
 'AME',
 'AMGN',
 'APH',
 'ADI',
 'ANSS',
 'AON',
 'APA',
 'AAPL',
 'AMAT',
 'APTV',
 'ACGL',
 'ADM',
 'ANET',
 'AJG',
 'AIZ',
 'T',
 'ATO',
 'ADSK',
 'ADP',
 'AZO',
 'AVB',
 'AVY',
 'AXON',
 'BKR',
 'BALL',
 'BAC',
 'BK',
 'BBWI',
 'BAX',
 'BDX',
 'BRK.B',
 'BBY',
 'BIO',
 'TECH',
 'BIIB',
 'BLK',
 'BX',
 'BA',
 'BKNG',
 'BWA',
 'BXP',
 'BSX',
 'BMY',
 'AVGO',
 'BR',
 'BRO',
 'BF.B',
 'BLDR',
 'BG',
 'CDNS',
 'CZR',
 'CPT',
 'CPB',
 'COF',
 'CAH',
 'KMX',
 'CCL',
 'CARR',
 'CTLT',
 'CAT',
 'CBOE',
 'CBRE',
 'CDW',
 'CE',
 'COR',
 'CNC',
 'CNP',
 'CF',
 'CHRW',
 'CRL',
 'SCHW',
 'CHTR',
 'CVX',
 'CMG',
 'CB',
 'CHD',
 'CI',
 'CINF',
 'CTAS',
 'CSCO',
 'C',
 'CFG',
 'CLX',
 'CME',
 'CMS',
 'KO',
 'CTSH',
 'CL',
 'CMCSA',
 'CMA',
 'CAG',
 'COP',
 'ED',
 'STZ',
 'CEG',
 'COO',
 'CPRT',
 'GLW',
 'CPAY',
 'CTVA',
 'CSGP',
 'COST',
 'CTRA',
 'CCI',
 'CSX',
 'CMI',
 'CVS',
 'DHR',
 'DRI',
 'DVA',
 'DAY',
 'DECK',
 'DE',
 'DAL',
 'XRAY',
 'DVN',
 'DXCM',
 'FANG',
 'DLR',
 'DFS',
 'DG',
 'DLTR',
 'D',
 'DPZ',
 'DOV',
 'DOW',
 'DHI',
 'DTE',
 'DUK',
 'DD',
 'EMN',
 'ETN',
 'EBAY',
 'ECL',
 'EIX',
 'EW',
 'EA',
 'ELV',
 'LLY',
 'EMR',
 'ENPH',
 'ETR',
 'EOG',
 'EPAM',
 'EQT',
 'EFX',
 'EQIX',
 'EQR',
 'ESS',
 'EL',
 'ETSY',
 'EG',
 'EVRG',
 'ES',
 'EXC',
 'EXPE',
 'EXPD',
 'EXR',
 'XOM',
 'FFIV',
 'FDS',
 'FICO',
 'FAST',
 'FRT',
 'FDX',
 'FIS',
 'FITB',
 'FSLR',
 'FE',
 'FI',
 'FMC',
 'F',
 'FTNT',
 'FTV',
 'FOXA',
 'FOX',
 'BEN',
 'FCX',
 'GRMN',
 'IT',
 'GEHC',
 'GEN',
 'GNRC',
 'GD',
 'GE',
 'GIS',
 'GM',
 'GPC',
 'GILD',
 'GPN',
 'GL',
 'GS',
 'HAL',
 'HIG',
 'HAS',
 'HCA',
 'DOC',
 'HSIC',
 'HSY',
 'HES',
 'HPE',
 'HLT',
 'HOLX',
 'HD',
 'HON',
 'HRL',
 'HST',
 'HWM',
 'HPQ',
 'HUBB',
 'HUM',
 'HBAN',
 'HII',
 'IBM',
 'IEX',
 'IDXX',
 'ITW',
 'ILMN',
 'INCY',
 'IR',
 'PODD',
 'INTC',
 'ICE',
 'IFF',
 'IP',
 'IPG',
 'INTU',
 'ISRG',
 'IVZ',
 'INVH',
 'IQV',
 'IRM',
 'JBHT',
 'JBL',
 'JKHY',
 'J',
 'JNJ',
 'JCI',
 'JPM',
 'JNPR',
 'K',
 'KVUE',
 'KDP',
 'KEY',
 'KEYS',
 'KMB',
 'KIM',
 'KMI',
 'KLAC',
 'KHC',
 'KR',
 'LHX',
 'LH',
 'LRCX',
 'LW',
 'LVS',
 'LDOS',
 'LEN',
 'LIN',
 'LYV',
 'LKQ',
 'LMT',
 'L',
 'LOW',
 'LULU',
 'LYB',
 'MTB',
 'MRO',
 'MPC',
 'MKTX',
 'MAR',
 'MMC',
 'MLM',
 'MAS',
 'MA',
 'MTCH',
 'MKC',
 'MCD',
 'MCK',
 'MDT',
 'MRK',
 'META',
 'MET',
 'MTD',
 'MGM',
 'MCHP',
 'MU',
 'MSFT',
 'MAA',
 'MRNA',
 'MHK',
 'MOH',
 'TAP',
 'MDLZ',
 'MPWR',
 'MNST',
 'MCO',
 'MS',
 'MOS',
 'MSI',
 'MSCI',
 'NDAQ',
 'NTAP',
 'NFLX',
 'NEM',
 'NWSA',
 'NWS',
 'NEE',
 'NKE',
 'NI',
 'NDSN',
 'NSC',
 'NTRS',
 'NOC',
 'NCLH',
 'NRG',
 'NUE',
 'NVDA',
 'NVR',
 'NXPI',
 'ORLY',
 'OXY',
 'ODFL',
 'OMC',
 'ON',
 'OKE',
 'ORCL',
 'OTIS',
 'PCAR',
 'PKG',
 'PANW',
 'PARA',
 'PH',
 'PAYX',
 'PAYC',
 'PYPL',
 'PNR',
 'PEP',
 'PFE',
 'PCG',
 'PM',
 'PSX',
 'PNW',
 'PXD',
 'PNC',
 'POOL',
 'PPG',
 'PPL',
 'PFG',
 'PG',
 'PGR',
 'PLD',
 'PRU',
 'PEG',
 'PTC',
 'PSA',
 'PHM',
 'QRVO',
 'PWR',
 'QCOM',
 'DGX',
 'RL',
 'RJF',
 'RTX',
 'O',
 'REG',
 'REGN',
 'RF',
 'RSG',
 'RMD',
 'RVTY',
 'RHI',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RCL',
 'SPGI',
 'CRM',
 'SBAC',
 'SLB',
 'STX',
 'SRE',
 'NOW',
 'SHW',
 'SPG',
 'SWKS',
 'SJM',
 'SNA',
 'SO',
 'LUV',
 'SWK',
 'SBUX',
 'STT',
 'STLD',
 'STE',
 'SYK',
 'SMCI',
 'SYF',
 'SNPS',
 'SYY',
 'TMUS',
 'TROW',
 'TTWO',
 'TPR',
 'TRGP',
 'TGT',
 'TEL',
 'TDY',
 'TFX',
 'TER',
 'TSLA',
 'TXN',
 'TXT',
 'TMO',
 'TJX',
 'TSCO',
 'TT',
 'TDG',
 'TRV',
 'TRMB',
 'TFC',
 'TYL',
 'TSN',
 'USB',
 'UBER',
 'UDR',
 'ULTA',
 'UNP',
 'UAL',
 'UPS',
 'URI',
 'UNH',
 'UHS',
 'VLO',
 'VTR',
 'VLTO',
 'VRSN',
 'VRSK',
 'VZ',
 'VRTX',
 'VFC',
 'VTRS',
 'VICI',
 'V',
 'VMC',
 'WRB',
 'WAB',
 'WBA',
 'WMT',
 'DIS',
 'WBD',
 'WM',
 'WAT',
 'WEC',
 'WFC',
 'WELL',
 'WST',
 'WDC',
 'WRK',
 'WY',
 'WMB',
 'WTW',
 'GWW',
 'WYNN',
 'XEL',
 'XYL',
 'YUM',
 'ZBRA',
 'ZBH',
 'ZTS']

In [8]:
len(tickers) #503 stocks

503

In [9]:
yf.download('MMM', start = "2022-01-19", end = "2024-03-28")['Adj Close'] # This is just a test

[*********************100%%**********************]  1 of 1 completed

Date
2022-01-19    158.821121
2022-01-20    154.451950
2022-01-21    153.633255
2022-01-24    153.766739
2022-01-25    154.612122
                 ...
2024-03-21    107.870003
2024-03-22    106.779999
2024-03-25    104.839996
2024-03-26    102.629997
2024-03-27    104.589996
Name: Adj Close, Length: 550, dtype: float64

In [10]:
# Earliest day for summer solstice is June 20. So we will start on June 20 and go 2 years into the future and stop on June 19.
snp_prices = yf.download(tickers,start = "2021-06-20", end = "2023-06-19")['Adj Close']

[*********************100%%**********************]  503 of 503 completed

3 Failed downloads:
['BF.B']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2021-06-20 -> 2023-06-19)')
['VLTO']: Exception("%ticker%: Data doesn't exist for startDate = 1624161600, endDate = 1687147200")
['BRK.B']: Exception('%ticker%: No timezone found, symbol may be delisted')

In [11]:
snp_prices

Ticker,A,AAL,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,...,WY,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2021-06-21,143.845398,22.450001,130.253189,102.730713,149.699997,106.119408,37.900002,274.708588,567.349976,156.087952,...,29.792122,126.316658,61.636913,56.064735,62.438301,112.551170,111.026077,155.131561,504.130005,182.701401
2021-06-22,144.061554,22.110001,131.907211,102.703857,149.679993,105.662315,38.009998,274.804749,575.739990,155.631516,...,29.679081,125.475273,61.278885,57.139633,61.833038,112.599518,111.729736,157.883438,506.440002,182.720947
2021-06-23,144.660858,22.200001,131.631546,102.077072,151.580002,105.548050,38.389999,274.843323,574.229980,155.593491,...,29.496462,124.673477,60.801502,57.560642,61.554417,112.299591,111.197250,156.070999,502.880005,182.231400
2021-06-24,144.100861,22.350000,131.346039,102.739662,150.729996,106.367004,38.840000,280.480591,578.260010,158.835999,...,29.766041,122.891724,60.829048,57.793526,61.371578,113.121986,111.244774,155.995087,510.390015,181.506882
2021-06-25,144.700180,22.219999,131.050690,101.163757,149.669998,107.338303,39.299999,283.462799,579.659973,159.425583,...,29.818213,122.802628,61.600185,57.918941,61.766155,113.054276,111.492004,157.610626,510.649994,183.318207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-12,117.876640,16.020000,183.067047,133.593475,124.589996,99.877945,70.449997,307.947235,474.630005,185.024429,...,29.176384,102.763161,61.301151,103.635094,38.065605,107.800674,132.707214,134.510010,279.989990,164.419250
2023-06-13,118.831261,16.309999,182.588943,134.156052,124.900002,100.331039,70.570000,311.585510,478.989990,189.668259,...,29.861273,103.179840,60.876850,103.654572,38.429539,109.781937,134.037918,135.780182,283.390015,164.876099
2023-06-14,118.731819,16.590000,183.226440,132.138535,125.139999,101.700180,70.080002,311.476746,479.529999,189.195007,...,29.861273,102.683784,60.760174,102.408066,37.436100,110.732948,134.402649,140.920456,280.380005,164.518539
2023-06-15,120.551575,16.650000,185.278320,131.808746,127.849998,103.443611,70.150002,320.097839,490.910004,186.996338,...,30.096094,103.745346,62.539516,103.118958,37.760685,112.278328,137.211945,141.486069,284.549988,170.259079
2023-06-16,120.452133,16.480000,184.192612,134.476151,128.679993,104.605888,71.160004,315.915833,495.179993,185.714584,...,30.330914,102.911980,62.150585,102.378845,39.078720,112.377403,136.600800,142.994415,282.399994,169.573792

In [12]:
# We had two errors. Let's take care of them.
snp_prices.isna().any()

Ticker
A       False
AAL     False
AAPL    False
ABBV    False
ABNB    False
        ...
XYL     False
YUM     False
ZBH     False
ZBRA    False
ZTS     False
Length: 503, dtype: bool

In [13]:
# Print columns with null values
snp_prices.loc[:,snp_prices.isna().any()]
# Look back at website where tickers came from.
# BF.B added on 1982-10-31
# BRK.B added on 2010-02-16
# CEG added on 2022-02-02
# GEHC added on 2023-01-04
# KVUE added on 2023-08-25
# VLTO added on 2023-10-02

# All of these are new editions to the S&P except for BF.B and BRK.B. We should be able to get data for those guys.

Ticker      BF.B  BRK.B        CEG       GEHC       KVUE  VLTO
Date
2021-06-21   NaN    NaN        NaN        NaN        NaN   NaN
2021-06-22   NaN    NaN        NaN        NaN        NaN   NaN
2021-06-23   NaN    NaN        NaN        NaN        NaN   NaN
2021-06-24   NaN    NaN        NaN        NaN        NaN   NaN
2021-06-25   NaN    NaN        NaN        NaN        NaN   NaN
...          ...    ...        ...        ...        ...   ...
2023-06-12   NaN    NaN  93.100830  78.174515  24.301428   NaN
2023-06-13   NaN    NaN  93.597359  77.695107  24.408268   NaN
2023-06-14   NaN    NaN  92.554634  78.434212  24.612238   NaN
2023-06-15   NaN    NaN  92.812828  79.003502  25.010462   NaN
2023-06-16   NaN    NaN  92.246780  78.554054  25.496101   NaN

[502 rows x 6 columns]

In [14]:
# Remove the afformentioned stocks.
snp_prices = snp_prices.drop('CEG', axis=1)
snp_prices = snp_prices.drop('GEHC', axis=1)
snp_prices = snp_prices.drop('KVUE', axis=1)
snp_prices = snp_prices.drop('VLTO', axis=1)
print(snp_prices)

Ticker               A        AAL        AAPL        ABBV        ABNB  \
Date
2021-06-21  143.845398  22.450001  130.253189  102.730713  149.699997
2021-06-22  144.061554  22.110001  131.907211  102.703857  149.679993
2021-06-23  144.660858  22.200001  131.631546  102.077072  151.580002
2021-06-24  144.100861  22.350000  131.346039  102.739662  150.729996
2021-06-25  144.700180  22.219999  131.050690  101.163757  149.669998
...                ...        ...         ...         ...         ...
2023-06-12  117.876640  16.020000  183.067047  133.593475  124.589996
2023-06-13  118.831261  16.309999  182.588943  134.156052  124.900002
2023-06-14  118.731819  16.590000  183.226440  132.138535  125.139999
2023-06-15  120.551575  16.650000  185.278320  131.808746  127.849998
2023-06-16  120.452133  16.480000  184.192612  134.476151  128.679993

Ticker             ABT       ACGL         ACN        ADBE         ADI  ...  \
Date                                                                   ...
2021-06-21  106.119408  37.900002  274.708588  567.349976  156.087952  ...
2021-06-22  105.662315  38.009998  274.804749  575.739990  155.631516  ...
2021-06-23  105.548050  38.389999  274.843323  574.229980  155.593491  ...
2021-06-24  106.367004  38.840000  280.480591  578.260010  158.835999  ...
2021-06-25  107.338303  39.299999  283.462799  579.659973  159.425583  ...
...                ...        ...         ...         ...         ...  ...
2023-06-12   99.877945  70.449997  307.947235  474.630005  185.024429  ...
2023-06-13  100.331039  70.570000  311.585510  478.989990  189.668259  ...
2023-06-14  101.700180  70.080002  311.476746  479.529999  189.195007  ...
2023-06-15  103.443611  70.150002  320.097839  490.910004  186.996338  ...
2023-06-16  104.605888  71.160004  315.915833  495.179993  185.714584  ...

Ticker             WY        WYNN        XEL         XOM       XRAY  \
Date
2021-06-21  29.792122  126.316658  61.636913   56.064735  62.438301
2021-06-22  29.679081  125.475273  61.278885   57.139633  61.833038
2021-06-23  29.496462  124.673477  60.801502   57.560642  61.554417
2021-06-24  29.766041  122.891724  60.829048   57.793526  61.371578
2021-06-25  29.818213  122.802628  61.600185   57.918941  61.766155
...               ...         ...        ...         ...        ...
2023-06-12  29.176384  102.763161  61.301151  103.635094  38.065605
2023-06-13  29.861273  103.179840  60.876850  103.654572  38.429539
2023-06-14  29.861273  102.683784  60.760174  102.408066  37.436100
2023-06-15  30.096094  103.745346  62.539516  103.118958  37.760685
2023-06-16  30.330914  102.911980  62.150585  102.378845  39.078720

Ticker             XYL         YUM         ZBH        ZBRA         ZTS
Date
2021-06-21  112.551170  111.026077  155.131561  504.130005  182.701401
2021-06-22  112.599518  111.729736  157.883438  506.440002  182.720947
2021-06-23  112.299591  111.197250  156.070999  502.880005  182.231400
2021-06-24  113.121986  111.244774  155.995087  510.390015  181.506882
2021-06-25  113.054276  111.492004  157.610626  510.649994  183.318207
...                ...         ...         ...         ...         ...
2023-06-12  107.800674  132.707214  134.510010  279.989990  164.419250
2023-06-13  109.781937  134.037918  135.780182  283.390015  164.876099
2023-06-14  110.732948  134.402649  140.920456  280.380005  164.518539
2023-06-15  112.278328  137.211945  141.486069  284.549988  170.259079
2023-06-16  112.377403  136.600800  142.994415  282.399994  169.573792

[502 rows x 499 columns]

In [15]:
snp_prices.loc[:,snp_prices.isna().any()]

Ticker      BF.B  BRK.B
Date
2021-06-21   NaN    NaN
2021-06-22   NaN    NaN
2021-06-23   NaN    NaN
2021-06-24   NaN    NaN
2021-06-25   NaN    NaN
...          ...    ...
2023-06-12   NaN    NaN
2023-06-13   NaN    NaN
2023-06-14   NaN    NaN
2023-06-15   NaN    NaN
2023-06-16   NaN    NaN

[502 rows x 2 columns]

In [16]:
yf.download('BF-B')["Adj Close"] # There is clearly data for this stock.

[*********************100%%**********************]  1 of 1 completed

Date
1980-03-17     0.195423
1980-03-18     0.195423
1980-03-19     0.198038
1980-03-20     0.198691
1980-03-21     0.196077
                ...
2024-03-22    50.900002
2024-03-25    50.860001
2024-03-26    51.000000
2024-03-27    52.040001
2024-03-28    51.619999
Name: Adj Close, Length: 11102, dtype: float64

In [17]:
yf.download('BRK-B')["Adj Close"] # There is clearly data for this stock.

[*********************100%%**********************]  1 of 1 completed

Date
1996-05-09     23.200001
1996-05-10     24.000000
1996-05-13     23.900000
1996-05-14     23.600000
1996-05-15     23.200001
                 ...
2024-03-22    411.600006
2024-03-25    409.920013
2024-03-26    411.570007
2024-03-27    416.929993
2024-03-28    420.519989
Name: Adj Close, Length: 7019, dtype: float64

In [18]:
#len(tickers) # 503. It should be 496.
tickers.remove("CEG")
tickers.remove("GEHC")
tickers.remove("KVUE")
tickers.remove("VLTO")
len(tickers) # 499

499

In [19]:
for i in range(len(tickers)):
    if tickers[i] == 'BRK.B':
        tickers[i] = 'BRK-B'
    elif tickers[i] == 'BF.B':
        tickers[i] = 'BF-B'

In [20]:
'BF-B' in tickers

True

In [21]:
'BRK-B' in tickers # Yep! Both are in the list!

True

In [22]:
snp_prices = yf.download(tickers,start = "2021-06-20", end = "2023-06-19")['Adj Close']

[*********************100%%**********************]  499 of 499 completed

In [23]:
snp_prices

Ticker,A,AAL,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,...,WY,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2021-06-21,143.845398,22.450001,130.253189,102.730721,149.699997,106.119423,37.900002,274.708496,567.349976,156.087952,...,29.792126,126.316658,61.636902,56.064739,62.438297,112.551155,111.026077,155.131546,504.130005,182.701385
2021-06-22,144.061584,22.110001,131.907211,102.703850,149.679993,105.662331,38.009998,274.804779,575.739990,155.631516,...,29.679079,125.475266,61.278881,57.139629,61.833042,112.599510,111.729729,157.883469,506.440002,182.720947
2021-06-23,144.660889,22.200001,131.631577,102.077080,151.580002,105.548042,38.389999,274.843292,574.229980,155.593506,...,29.496468,124.673470,60.801510,57.560642,61.554424,112.299599,111.197243,156.070999,502.880005,182.231384
2021-06-24,144.100861,22.350000,131.346024,102.739670,150.729996,106.366997,38.840000,280.480560,578.260010,158.836014,...,29.766037,122.891724,60.829048,57.793518,61.371571,113.122002,111.244774,155.995087,510.390015,181.506866
2021-06-25,144.700165,22.219999,131.050690,101.163765,149.669998,107.338303,39.299999,283.462799,579.659973,159.425568,...,29.818216,122.802628,61.600178,57.918934,61.766159,113.054268,111.492012,157.610657,510.649994,183.318207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-12,117.876633,16.020000,183.067062,133.593475,124.589996,99.877953,70.449997,307.947296,474.630005,185.024399,...,29.176384,102.763161,61.301144,103.635094,38.065605,107.800674,132.707214,134.509995,279.989990,164.419266
2023-06-13,118.831261,16.309999,182.588943,134.156052,124.900002,100.331047,70.570000,311.585510,478.989990,189.668274,...,29.861273,103.179840,60.876854,103.654572,38.429539,109.781944,134.037918,135.780182,283.390015,164.876114
2023-06-14,118.731819,16.590000,183.226440,132.138535,125.139999,101.700180,70.080002,311.476776,479.529999,189.194992,...,29.861273,102.683784,60.760174,102.408066,37.436100,110.732948,134.402649,140.920456,280.380005,164.518555
2023-06-15,120.551575,16.650000,185.278320,131.808746,127.849998,103.443604,70.150002,320.097870,490.910004,186.996338,...,30.096094,103.745346,62.539513,103.118958,37.760689,112.278328,137.211945,141.486069,284.549988,170.259079
2023-06-16,120.452133,16.480000,184.192612,134.476151,128.679993,104.605896,71.160004,315.915863,495.179993,185.714569,...,30.330914,102.911980,62.150585,102.378845,39.078720,112.377403,136.600800,142.994415,282.399994,169.573792

In [24]:
snp_prices[['BRK-B', 'BF-B']]

Ticker           BRK-B       BF-B
Date
2021-06-21  277.100006  70.632866
2021-06-22  276.920013  70.308464
2021-06-23  274.660004  69.573799
2021-06-24  275.489990  70.671021
2021-06-25  278.380005  71.663300
...                ...        ...
2023-06-12  333.600006  62.870602
2023-06-13  336.390015  64.502960
2023-06-14  335.899994  64.265526
2023-06-15  339.820007  64.502960
2023-06-16  338.309998  64.700829

[502 rows x 2 columns]

In [25]:
len(snp_prices.columns) # 499

499

In [26]:
snp_prices.loc[:,snp_prices.isna().any()] # All is well! No output!

Empty DataFrame
Columns: []
Index: [2021-06-21 00:00:00, 2021-06-22 00:00:00, 2021-06-23 00:00:00, 2021-06-24 00:00:00, 2021-06-25 00:00:00, 2021-06-28 00:00:00, 2021-06-29 00:00:00, 2021-06-30 00:00:00, 2021-07-01 00:00:00, 2021-07-02 00:00:00, 2021-07-06 00:00:00, 2021-07-07 00:00:00, 2021-07-08 00:00:00, 2021-07-09 00:00:00, 2021-07-12 00:00:00, 2021-07-13 00:00:00, 2021-07-14 00:00:00, 2021-07-15 00:00:00, 2021-07-16 00:00:00, 2021-07-19 00:00:00, 2021-07-20 00:00:00, 2021-07-21 00:00:00, 2021-07-22 00:00:00, 2021-07-23 00:00:00, 2021-07-26 00:00:00, 2021-07-27 00:00:00, 2021-07-28 00:00:00, 2021-07-29 00:00:00, 2021-07-30 00:00:00, 2021-08-02 00:00:00, 2021-08-03 00:00:00, 2021-08-04 00:00:00, 2021-08-05 00:00:00, 2021-08-06 00:00:00, 2021-08-09 00:00:00, 2021-08-10 00:00:00, 2021-08-11 00:00:00, 2021-08-12 00:00:00, 2021-08-13 00:00:00, 2021-08-16 00:00:00, 2021-08-17 00:00:00, 2021-08-18 00:00:00, 2021-08-19 00:00:00, 2021-08-20 00:00:00, 2021-08-23 00:00:00, 2021-08-24 00:00:00, 2021-08-25 00:00:00, 2021-08-26 00:00:00, 2021-08-27 00:00:00, 2021-08-30 00:00:00, 2021-08-31 00:00:00, 2021-09-01 00:00:00, 2021-09-02 00:00:00, 2021-09-03 00:00:00, 2021-09-07 00:00:00, 2021-09-08 00:00:00, 2021-09-09 00:00:00, 2021-09-10 00:00:00, 2021-09-13 00:00:00, 2021-09-14 00:00:00, 2021-09-15 00:00:00, 2021-09-16 00:00:00, 2021-09-17 00:00:00, 2021-09-20 00:00:00, 2021-09-21 00:00:00, 2021-09-22 00:00:00, 2021-09-23 00:00:00, 2021-09-24 00:00:00, 2021-09-27 00:00:00, 2021-09-28 00:00:00, 2021-09-29 00:00:00, 2021-09-30 00:00:00, 2021-10-01 00:00:00, 2021-10-04 00:00:00, 2021-10-05 00:00:00, 2021-10-06 00:00:00, 2021-10-07 00:00:00, 2021-10-08 00:00:00, 2021-10-11 00:00:00, 2021-10-12 00:00:00, 2021-10-13 00:00:00, 2021-10-14 00:00:00, 2021-10-15 00:00:00, 2021-10-18 00:00:00, 2021-10-19 00:00:00, 2021-10-20 00:00:00, 2021-10-21 00:00:00, 2021-10-22 00:00:00, 2021-10-25 00:00:00, 2021-10-26 00:00:00, 2021-10-27 00:00:00, 2021-10-28 00:00:00, 2021-10-29 00:00:00, 2021-11-01 00:00:00, 2021-11-02 00:00:00, 2021-11-03 00:00:00, 2021-11-04 00:00:00, 2021-11-05 00:00:00, 2021-11-08 00:00:00, 2021-11-09 00:00:00, ...]

[502 rows x 0 columns]

In [27]:
snp_prices.to_csv('All S&P 500 Stocks 2021-2023.csv', header = True, index = True)